@using jesspring.io.Controllers
@{
    ViewData["Title"] = "Achievements";
}

<div class="flex fd-column w-100 gap-20 align-items-center">
    <div class="card flex w-fit">
        <div class="font-size-4 home-card-title home-card-title-yellow">
            Achievements
        </div>
    </div>

    <div class="card w-100">
        <div id="unlocked-achievement-count" class="m-b-20"></div>

        <div class="flex fd-column gap-20" id="achievement-list"></div>
    </div>
</div>

@section Scripts {
    <script src="/scripts/achievements/index.js" asp-append-version="true"></script>
}
