@using jesspring.io.Controllers
@{
    ViewData["Title"] = "jesspring.io";
}

<div class="flex fd-row w-100 gap-20">
    <div class="flex fd-column w-50 gap-20">
        <div class="card">
            <div class="font-size-4 home-card-title home-card-title-yellow">
                Jessflix
            </div>

            <div class="card blue-card home-card flex fd-column gap-20">
                <div class="flex fd-row jc-space-between w-100 gap-10">
                    <a id="recommended-title-link-1" class="recommended-image-link">
                        <img class="recommended-image" />
                    </a>
                    <a id="recommended-title-link-2" class="recommended-image-link">
                        <img class="recommended-image" />
                    </a>
                    <a id="recommended-title-link-3" class="recommended-image-link">
                        <img class="recommended-image" />
                    </a>
                </div>

                <div class="flex">
                    @Html.ActionLink("Search all", nameof(JessflixController.Index), JessflixController.Name, null, new { @class = "button button-fit" })
                </div>
            </div>
        </div>
        <div class="card">
            <div class="font-size-4 home-card-title home-card-title-yellow">
                Achievements
            </div>

            <div class="card yellow-card home-card flex fd-column gap-20">
                <div class="flex jc-space-between" id="recent-achievements">
                    <img src="/images/achievements/missing_achievement.png" class="achievement-image" />
                    <img src="/images/achievements/missing_achievement.png" class="achievement-image" />
                    <img src="/images/achievements/missing_achievement.png" class="achievement-image" />
                    <img src="/images/achievements/missing_achievement.png" class="achievement-image" />
                </div>

                @Html.ActionLink("View all", nameof(AchievementsController.Index), AchievementsController.Name, null, new { @class = "button" })
            </div>
        </div>
    </div>

    <div class="flex fd-column w-50 gap-20">
        <div class="card">
            <div class="font-size-4 home-card-title home-card-title-yellow">
                TODO
            </div>

            <div class="card white-card home-card">
                More achievements
                <br />
                More splash text
                <br />
                Pet flies
                <br />
                Games
            </div>
        </div>

        <div class="card">
            <div class="font-size-4 home-card-title home-card-title-yellow">
                Gaymes
            </div>

            <div class="card green-card home-card">
                Coming soon!
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/scripts/home/index.js" asp-append-version="true"></script>
}
