@using jesspring.io.Controllers
@{
    ViewData["Title"] = "jesspring.io";
}
<div class="flex fd-column w-100">
    <form class="flex search-container" id="search-form" action="@Url.Action(nameof(JessflixController.GetTitlesFromSearch), JessflixController.Name)?search=">
        <div class="card search-card">
            <input class="search-input" id="search-input" name="search" type="text" />
        </div>

        <div class="card button-card">
            <button type="submit">Search</button>
        </div>
    </form>


    <div class="title-list" id="title-list">
    </div>
</div>

@section Scripts {
    <script src="/scripts/jessflix.js"></script>
}
