@using jesspring.io.Controllers
@model int
@{
    ViewData["Title"] = "Jessflix";
    ViewData["ContentClass"] = "content-large";
}

<div class="flex fd-column w-100 align-items-center">
    <div class="card stream-card">
        <iframe id="stream-embed" style="width: 960px; height: 560px;" frameborder="0" referrerpolicy="origin" allowfullscreen></iframe>
    </div>

    <div class="card title-card m-top-10">
        <img class="title-image" id="title-image" />
        <div class="flex fd-column w-100">
            <div class="card blue-card title-info">
                <div>
                    <div class="pixel-font-bold title-name" id="title-name"></div>
                    <div id="title-date"></div>
                </div>
            </div>
            <div class="card yellow-card title-description" id="title-description"></div>
            <div class="flex fd-row">
                <select id="season-select" class="select tv-selects">
                </select>

                <select id="episode-select" class="select tv-selects">
                </select>
            </div>
        </div>


    </div>
</div>

@section Scripts {
    <script>
        window.data = { tvId: "@Model" };
    </script>

    <script src="/scripts/jessflix/watchTv.js" asp-append-version="true"></script>
}
