@using jesspring.io.Controllers
@model string
@{
    ViewData["Title"] = "jesspring.io";
}
<div class="flex fd-column w-100">
    @* <iframe src="https://vidsrc.xyz/embed/movie/@Model" style="width: 100%; height: 100%;" frameborder="0" referrerpolicy="origin" allowfullscreen></iframe> *@
    <iframe src="https://vidsrc.xyz/embed/movie/@Model" style="width: 100%; height: 100%;" frameborder="0" referrerpolicy="origin" allowfullscreen></iframe>
</div>
