html {
    background-color: rgb(165, 0, 165);
    font-family: 'PixelCraft', sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

body {
    margin: 0;
}

.pixelated {
    image-rendering: pixelated;
}

.scale3 {
    zoom: 300%;
}

.header {
    background-color: rgb(204, 0, 204);
    background-image: url("images/top_dither.png");
    background-repeat: repeat-x;
    background-position: bottom;
    padding: 10px 0;
}

.footer {
    background-color: rgb(127, 0, 127);
    background-image: url("images/bottom_dither.png");
    background-repeat: repeat-x;
    background-position: top;
    width: 100%;
    padding: 10px 0;
}

.main {
    background-color: rgb(165, 0, 165);
    flex: 1;
}

.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.icon {
    padding: 0 2px;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.pixel-font {
    font-family: 'PixelCraft', sans-serif;
}

.pixel-font-bold {
    font-family: 'PixelCraft Bold', sans-serif;
}

.pixel-font-wide {
    font-family: 'PixelCraft Bold Wide', sans-serif;
}


@keyframes splash-text {
    from {
        scale: 1;
    }

    to {
        scale: 1.1
    }
}

.splash-text {
    font-family: 'PixelCraft', sans-serif;
    position: absolute;
    color: rgb(0, 255, 0);
    text-shadow: 1px 1px rgb(0, 63, 0);
    line-height: 0;
    font-size: 0.75em;
    translate: 105px 15px;
    rotate: -20deg;
    white-space: nowrap;
    animation-name: splash-text;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.splash-text-bounce {
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
}

.display-none {
    display: none;
}

@keyframes rainbow {
    0% {
        color: rgb(255, 0, 0);
        text-shadow: rgb(63, 0, 0);
    }

    16.67% {
        color: rgb(255, 255, 0);
        text-shadow: rgb(63, 63, 0);
    }

    33.33% {
        color: rgb(0, 255, 0);
        text-shadow: rgb(0, 63, 0);
    }

    50% {
        color: rgb(0, 255, 255);
        text-shadow: rgb(0, 63, 63);
    }

    66.67% {
        color: rgb(0, 0, 255);
        text-shadow: rgb(0, 0, 63);
    }

    83.33% {
        color: rgb(255, 0, 255);
        text-shadow: rgb(63, 0, 63);
    }

    100% {
        color: rgb(255, 0, 0);
        text-shadow: rgb(63, 0, 0);
    }
}

.splash-text-rainbow {
    animation-name: splash-text, rainbow;
    animation-duration: 0.5s, 3s;
    animation-iteration-count: infinite, infinite;
    animation-direction: alternate, normal;
}

.position-absolute {
    position: absolute;
}

.content {
    max-width: 900px;
    width: 900px;
    margin: 0 auto;
    padding: 20px 0;
}

.content-large {
    max-width: 1000px;
    width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
}

.card {
    background-color: rgb(204, 0, 204);
    box-shadow: rgb(63, 0, 63) 10px 10px;
    padding: 10px;
}

.green-card {
    background-color: rgb(0, 204, 0);
    box-shadow: rgb(0, 63, 0) 10px 10px;
}

.yellow-card {
    background-color: rgb(204, 204, 0);
    box-shadow: rgb(63, 63, 0) 10px 10px;
}

.blue-card {
    background-color: rgb(0, 204, 204);
    box-shadow: rgb(0, 63, 63) 10px 10px;
}

.white-card {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(63, 63, 63) 10px 10px;
}

.search-card {
    margin: 0 10px;
    width: 100%;
}

.search-container {
    justify-content: space-between;
    width: 100%;
    margin-block-end: 30px;
}

.search-input {
    width: 100%;
    border: none;
    border-top: solid 5px rgb(127, 127, 127);
    border-left: solid 5px rgb(127, 127, 127);
    height: 40px;
    font-family: 'PixelCraft', sans-serif;
    font-size: 24px;
    padding-block: 0;
    padding-inline: 0;
    line-height: 0;
    text-align: center;
    padding-bottom: 16px;
}

.fd-column {
    flex-direction: column;
}

.fd-row {
    flex-direction: row;
}

.w-100 {
    width: 100%;
}

.title-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.title-list {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    row-gap: 20px;
}

.title-image {
    width: 200px;
    height: 300px;
    box-shadow: rgb(63, 63, 63) 10px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.title-info {
    display: flex;
    margin: 0 10px 10px 10px;
    flex-direction: row;
    justify-content: space-between;
}

.title-description {
    margin: 10px;
}

.button {
    background-color: rgb(0, 191, 0);
    font-family: 'PixelCraft', sans-serif;
    border: 0;
    border-bottom: solid 5px rgb(0, 63, 0);
    padding-block: 0;
    padding-inline: 0;
    line-height: 0;
    height: 40px;
    width: 100px;
    font-size: 16px;
    padding-bottom: 10px;
    min-width: 100px;
}

    .button:hover {
        background-color: rgb(0, 255, 0);
    }

    .button:active {
        box-shadow: none;
        margin-top: 5px;
        height: 35px;
        border-bottom: none;
    }

a.button {
    text-decoration: none;
    color: rgb(0,0,0);
    cursor: default;
    text-align: center;
    line-height: 28px;
    height: 25px;
}

    a.button:active {
        height: 25px;
    }

.button-blue {
    background-color: rgb(0, 191, 191);
    border-bottom: solid 5px rgb(0, 63, 63);
}

    .button-blue:hover {
        background-color: rgb(0, 255, 255);
    }

.button-yellow {
    background-color: rgb(191, 191, 0);
    border-bottom: solid 5px rgb(63, 63, 0);
}

    .button-yellow:hover {
        background-color: rgb(255, 255, 0);
    }

.button-pressed {
    box-shadow: none;
    margin-top: 5px;
    height: 35px;
    border-bottom: none;
}

.font-size-1 {
    font-size: 16px;
}

.font-size-2 {
    font-size: 24px;
}

.title-name {
    text-shadow: rgba(255, 255, 255, 0.5) 1px 1px;
}

.align-items-center {
    align-items: center;
}

.m-top-10 {
    margin-top: 10px;
}

.search-type-container {
    display: flex;
    flex-direction: row;
}

.p-r-10 {
    padding-right: 10px;
}
